// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

.el-menu--collapse
  > div
  > .el-submenu
  > .el-submenu__title
  .el-submenu__icon-arrow {
  display: none;
}

.el-dropdown .el-dropdown-link{
  color: var(--el-color-primary) !important;
}

.el-dialog {
  .el-dialog__header {
    // background-color: #3A68F2;
    padding: 20px;
    padding-bottom: 20px;
    margin-right: 0;
    .el-icon {
      // color: #FFFFFF;
    }
  }
  .el-dialog__headerbtn:focus,.el-dialog__headerbtn:hover {
    .el-dialog__close,.el-dialog__close {
      color: #E0E0E0;
    }
  }
  .el-dialog__title {
    // color: #FFFFFF;
    font-size: 18px;
    color: #262626;
  }
}

.search-form {
  padding: 24px 24px 6px;
  background: #F5F6FA;
  border-radius: 4px;
  margin-bottom: 16px;
}
.el-table {
  border: 1px #ebeef5 solid;
  border-bottom: 0;
  box-sizing: border-box;
  border-radius: 4px;
}
.s-dialog {
  .el-dialog__header  {
      height: 73px;
      padding: 0 24px;
      text-align: left;
      justify-content: space-between;
      align-items: center;
      display: flex;
      .el-dialog__title  {
        font-weight: 500;
        font-size: 18px;
        color: #262626;
      }
      .el-dialog__headerbtn {
        position: inherit;
        height: auto;
        width: auto;
        .el-dialog__close {
          color: #262626;
          svg {
            width: 1.5em;
            height: 1.5em;
          }
        }
      }
  }
  .el-dialog__body  {
    padding: 0 24px;
    .el-select, .el-input-number {
      width: 100%;
    }
  }
  .el-dialog__footer {
    text-align: right;
  }
  &.s-dialog-table {
    .el-dialog__body {
      padding-bottom: 24px;
    }
  }
}
.el-button {
  border-radius: 2px;
}
