@font-face {
  font-family: "iconfont"; /* Project id 4541097 */
  src: url('iconfont.woff2?t=1716864023524') format('woff2'),
       url('iconfont.woff?t=1716864023524') format('woff'),
       url('iconfont.ttf?t=1716864023524') format('truetype'),
       url('iconfont.svg?t=1716864023524#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia1:before {
  content: "\e621";
}

.icon-xiangzuo:before {
  content: "\e85e";
}

.icon-xiangyou:before {
  content: "\e620";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-xiangshang:before {
  content: "\e601";
}

.icon-caidan:before {
  content: "\e61f";
}

.icon-sousuo:before {
  content: "\e61e";
}

.icon-yincang:before {
  content: "\e61d";
}

.icon-guanbi-1:before {
  content: "\e609";
}

.icon-riqi:before {
  content: "\e60a";
}

.icon-weixuan:before {
  content: "\e60b";
}

.icon-guanbi:before {
  content: "\e60c";
}

.icon-guge:before {
  content: "\e60d";
}

.icon-yixuan:before {
  content: "\e60e";
}

.icon-jian:before {
  content: "\e60f";
}

.icon-jiejikahuoxinyongka:before {
  content: "\e610";
}

.icon-zanting:before {
  content: "\e611";
}

.icon-gouwudai:before {
  content: "\e612";
}

.icon-shangchuanzhaopian:before {
  content: "\e613";
}

.icon-jia:before {
  content: "\e614";
}

.icon-bofang:before {
  content: "\e615";
}

.icon-kefu:before {
  content: "\e616";
}

.icon-zhucedenglu:before {
  content: "\e617";
}

.icon-facebook:before {
  content: "\e618";
}

.icon-Paypal:before {
  content: "\e619";
}

.icon-quanping:before {
  content: "\e61a";
}

.icon-xianshi:before {
  content: "\e61b";
}

.icon-shengyin:before {
  content: "\e61c";
}

